body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #1a0b19, #150d2d, #162134) !important;
  color: white !important;
  overflow-x: hidden !important;
  width: 100vw !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  background-color: #0c071b;
  box-shadow: rgba(215, 106, 255, 0.507) 0px 0px 20px;
  padding: 1rem;
  border-radius: 5px;
}

.techStack {
  color: #2ecc71;
  border: 2px solid #2ecc71;
  padding: 0.5rem 2rem;
}

.customeButton {
  color: white !important;
  background-image: linear-gradient(150deg, #34495e, #2ecc71);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
